body{
    background: #F9F9F9;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(fonts/HelveticaNeue-01.ttf);
}
  input {
    padding: 12px 20px;
    box-sizing: border-box;
  }
  textarea{
    padding: 12px 20px;
  box-sizing: border-box;
  font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
  }
#line1{
    position: absolute;
width: 798px;
height: 0px;
left: 150px;
top: 88px;

/* off black */

border: 1px solid #1A1A1A;
}
#Hdr1{
    position: absolute;
    width: 200px;
    height: 29px;
    left: 149px;
    top: 47px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    /* off black */

    color: #1A1A1A;
}
#Hdr2{
    position: absolute;
width: 29px;
height: 24px;
left: 920px;
top: 49px;

    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
/* identical to box height */

/* off black */

color: #1A1A1A;
}
#Position{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;


    width: 846px;
    height: 125px;
    left: calc(50% - 846px/2 - 411px);
    top: 157px;
}
.LInpt1{
    box-sizing: border-box;

width: 798px;
height: 48px;

background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;

font-style: normal;
font-weight: 400;
font-size: 16px;

}
.LInpt2{
    box-sizing: border-box;

width: 798px;
height: 48px;

background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;

font-style: normal;
font-weight: 400;
font-size: 16px;

}
.NameN1, .NameN2, .NameN3, .NameN4, .NameN5{
    
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 1000;
    font-size: 16px;
    line-height: 21px;
   
    color: #000000;
}
.Vld{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
}
#Damsaq{
display: flex;
align-items: flex-start;
flex-direction: column;
padding: 8px 24px;
gap: 8px;


width: 846px;
height: 125px;
left: calc(50% - 846px/2 - 411px);
top: 294px;
}
#StartD{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

   
    height: 125px;
    left: calc(50% - 419px/2 - 624.5px);
    top: 431px;
}
#EndD{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 24px;
gap: 8px;

width: 419px;
height: 93px;
left: calc(50% - 419px/2 - 197.5px);
top: 431px;
}
.DateInp1{
    width: 375px;
height: 48px;

background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;
}
.DateInp2{
    width: 375px;
height: 48px;

background: #FFFFFF;
border: 1px solid #BCBCBC;
border-radius: 4px;
}
#Descr{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

    width: 846px;
    height: 168px;
    left: calc(50% - 846px/2 - 411px);
    top: 541px;
}
.DescrText{
    width: 798px;
    height: 123px;

    background: #FFFFFF;
    border: 1px solid #BCBCBC;
    border-radius: 4px;
   
}
#line2{
    position:relative;
    width: 798px;
    height: 0px;
    left: 22px;
    margin: 0;
    border: 1px solid #C1C1C1;
}
#MoreBtn{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    /* padding: 18px 60px; */
    gap: 20px;
    
    position: relative;
    width: 289px;
    height: 48px;
    left: 135px;
    top: 200px;
    
    background: #62A1EB;
    border-radius: 4px;
    border-style:none ;
    font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */
margin-top: 20px;

color: #FFFFFF;
cursor: pointer;
margin-right: 0;
}
#NextBtn{
    margin: 0;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    letter-spacing: 0.08em;
    
    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;

    position:relative;
    width: 113px;
    height: 48px;
    left: 810px;
    top: 332px;

    background: #6B40E3;
    border-radius: 4px;
    border-style:none;
    justify-content: center;
    cursor: pointer;
}
a{
    text-decoration: none;
}
#BackBtn{
    margin: 0;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */
    
    letter-spacing: 0.08em;
    
    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 60px;
    gap: 20px;

    position:relative;
    width: 113px;
    height: 48px;
    left: 135px;
    top: 380px;

    background: #6B40E3;
    border-radius: 4px;
    border-style:none;
    justify-content: center;
    cursor: pointer;

}
#star{
    /* position: relative; */
    width: 42px;
    height: 42px;
    left: 1176px;
    bottom: 44px;
}
#ClientRez{
    position: absolute;
    width: 822px;
    height: 100%;
    right: 0px;
    top: 0px;
    
    background: #FFFFFF;
    
}
#ClientName{
    position: absolute;
width: 400px;
height: 42px;
left: 80px;
top: 68px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 42px;
/* identical to box height */


color: #F93B1D;
}
#ClientPhoto{
    position: absolute;
width: 246px;
height: 246px;
left: 501px;
top: 48px;

background: url(.jpg), #D9D9D9;
border-radius: 133px;
background-size: cover;
}
#ClientEmail{
    position: absolute;
width: 179px;
height: 21px;
left: 111px;
top: 130px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

/* off black */

color: #1A1A1A;
}
#ClientPhone{
    position: absolute;
width: 151px;
height: 21px;
left: 111px;
top: 158px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;

/* off black */

color: #1A1A1A;
}
#ClientAbt{
    position: absolute;
width: 118px;
height: 22px;
left: 80px;
top: 213px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */


color: #F93B1D;
}
#ClientAbout{
    position: absolute;
width: 432px;
height: 72px;
left: 80px;
top: 250px;

font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* or 138% */

text-transform: lowercase;

color: #000000;
}
#ClientAbout p{
    word-wrap: break-word;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}
#Cline{
    opacity: 1;
    position: absolute;
width: 662px;
height: 0px;
border: 1px solid #C8C8C8;
}
#At_img{
    position: absolute;
    left: 80px;
    top:130px;
}
#At_img img{
    height: 16.666664123535156px;
width: 16.666664123535156px;
left: 1.66668701171875px;
top: 1.666748046875px;
border-radius: 0px;

}
#Phone_img{
 position: absolute;
 top: 158px;
 left:80px;
}
#Phone_img img{
    height: 16.641902923583984px;
width: 16.63849449157715px;
left: 1.55352783203125px;
top: 1.8046875px;
border-radius: 0px;

}

#HomeBtn{
    position:absolute;
width: 40px;
height: 40px;
left: 48px;
top: 45px;
border-radius: 20px;

background: #FFFFFF;
}
#HomeBtn img{
    position: absolute;
    height: 16px;
    width: 9.17px;
    left: 14px;
    top:12px
}
#mainDiv{
 display: grid;
 grid-template-columns: auto;
 position: relative;
 left: calc(50% - 846px/2 - 411px);
 top: 157px;
 width: 80%;
}
#DateDiv{
    display: flex;
}
#Exp_Edc{
    display: grid;
 grid-template-columns: auto;
 position: relative;
 top:360px;
 left: 80px;
 width:658px;
 margin:0%;
}
.ClientPosition{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #1A1A1A;
    margin-top: 15px;
}
.ClientExp{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-top: 26px;
    /* identical to box height */

    
    color: #F93B1D;
}
.line3{
    width: 662px;
    height: 0px;
    border: 1px solid #C8C8C8;
    margin-top: 32px;
}
.ClientDates{
    font-family: 'Helvetica Neue';
font-style: italic;
font-weight: 400;
font-size: 16px;
line-height: 19px;
margin-top: 7px;
color: #919191;
}
.ClientDescr{
    font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
margin-top: 30px;
/* or 138% */

text-transform: capitalize;
word-break:break-all;
color: #000000;
margin-top: 16px;
}
.Cline2{
    opacity: 1;
    position: absolute;
    width: 662px;
    height: 0px;
    border: 1px solid #C8C8C8;
    margin-top: 10px;
    
}
.BtnsDiv{
    width: 50%;
}
.ClientExpDivs{
    display: grid;
    margin-top: 22px;
    margin-bottom: 12px;
}
.ErrImg1{
    margin-left: 10px;
    visibility: hidden;
}
.ErrImg2{
    margin-left: 10px;
    visibility: hidden;
}

.NameGrd{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
